<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Service Comparisons</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <div class="navigation-bar">
      <a href="/">
        <div class="logo">
          <span style="color:#FFFFFF">GROWTH</span><span style="color:#FF0000">MART</span>
        </div>
      </a>
      <div class="pages">
        <a href="/about" class="nav-pages"><span style="color:#FFFFFF">About Us</span></a>
        <a href="/join" class="nav-pages"><span style="color:#FFFFFF">Join us</span></a>
      </div>
    </div>
    <div class="side">
      <div class="hamburger">
        <img src="/images/menu.png" alt="" class="hamburger-image">
      </div>
    </div>
    <div class="menu-bar">
      <img src="/images/close.png" alt="" style="margin-left:90%;" class="close">
      <a href="/comparisons/paymentGateway" class="menu-item-a">
        <div class="menu-item">
          <p class="menu-item-p"><img src="/images/wallet.png" alt="" class="menu-item-img">Payment Gateway</p>
        </div>
      </a>
      <a href="/comparisons/noCodePlatform" class="menu-item-a">
        <div class="menu-item">
          <p class="menu-item-p"><img src="/images/cloud-connect.png" alt="" class="menu-item-img">No Code Platform</p>
        </div>
      </a>
      <a href="/comparisons/smsProviders" class="menu-item-a">
        <div class="menu-item">
          <p class="menu-item-p"><img src="/images/cloud-connect.png" alt="" class="menu-item-img">SMS Providers</p>
        </div>
      </a>
      <a href="/comparisons/chatBot" class="menu-item-a">
        <div class="menu-item">
          <p class="menu-item-p"><img src="/images/cloud-connect.png" alt="" class="menu-item-img">ChatBot</p>
        </div>
      </a>
    </div>
